/* footer.component.css */

footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%; /* Make the footer span the full width of the page */
    position: fixed; /* Position the footer fixed */
    bottom: 0; /* Align the footer to the bottom of the viewport */
    left: 0; /* Align the footer to the left of the viewport */
  }
  