/* about.component.css */
/* About Section */
.about-section {
  text-align: center; /* Center align the content */
  margin-top: 50px; /* Add margin to the top */
}

.container {
  display: flex;
  justify-content: space-between;
}

.about-section,
.team-members {
  flex: 1;
}

/* About Card */
.about-card {
  background-color: #008080; /* Set the background color of the card */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  margin-left: 200px;
  margin-right: 200px;
}

.about-section h2 {
  color: #008080; /* Set the color of the heading */
  font-size: 45px; /* Set the font size of the heading */
  margin-bottom: 20px; /* Add margin to the bottom */
  text-align: center; /* Center align the heading */
}

.about-card p {
  font-size: 25px; /* Set the font size of the paragraph */
  line-height: 1.5; /* Set the line height for better readability */
  color: white;
  text-align: justify;
}




/* Mission and Vision section */

  /* Mission and Vision Statements Container */
.mission-vision-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px; /* Adjust the maximum width as needed */
  padding: 50px; /* Add padding around the container */
}

/* Mission Section */
.mission,
.vision {
  flex: 1;
  text-align: center;
  
  
}

/* Mission and Vision Statements */
.mission h2,
.vision h2 {
  color: #008080; /* Set the color of the headings */
  font-size: 45px;
}

.mission p,
.vision p {
  font-size: 28px; /* Set the font size of the paragraphs */
  line-height: 1; /* Set the line height for better readability */
  text-align: justify;
}

.mission {
  margin-right: 30px;
}

.vision {
  margin-left: 30px;
}


  
  /* Typography styles */
  .mat-display-1 {
    font-size: 2.125rem; /* Adjust font size as needed */
    font-weight: 400; /* Adjust font weight as needed */
    line-height: 2.5rem; /* Adjust line height as needed */
    margin-bottom: 10px; /* Adjust margin bottom as needed */
  }
  
  .mat-body-1 {
    font-size: 1rem; /* Adjust font size as needed */
    font-weight: 400; /* Adjust font weight as needed */
    line-height: 1.5rem; /* Adjust line height as needed */
    margin-bottom: 20px; /* Adjust margin bottom as needed */
  }
  
  
  /* Organization Information Section */
  .organization-info {
    margin-bottom: 30px;
  }
  
  .organization-info h2 {
    font-size: 24px;
  }
  
  .organization-info p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Team Members Section */
  .team-members {
    margin-bottom: 30px;
    padding-bottom: 100px;
  }

  
  .team-members h2 {
    font-size: 45px;
    text-align:center;
    color:#008080;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .example-card {
    max-width: 400px;
    margin: 20px;
    background-color:#008080;
    text-align: center;
    color:white;
  }
  
  .example-card img {
    max-height: 200px;
  }
  
