<mat-toolbar color="primary">
    <span>MELIORA</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/" routerLinkActive="active">Home</button>
    <button mat-button routerLink="/about" routerLinkActive="active">About</button>
    <button mat-button routerLink="/get-involved" routerLinkActive="active">Get Involved</button>
    <button mat-button routerLink="/resources" routerLinkActive="active">Resources</button>
    <button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>
  </mat-toolbar>
  
  