<h1>Resources</h1>
<div class="resources-container">
    <mat-card class="articles-card">
      <mat-card-header>
        <mat-card-title>Articles</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="article">
          <h3><a href="https://www.betterup.com/blog/mental-health-awareness"><b>Mental health awareness: The importance of conversation</b></a></h3>
          <p>By Allaya Cooks-Campbell</p>
        </div>
        <div class="article">
            <h3><a href="https://www.theguardian.com/science/brain-flapping/2018/may/15/mental-health-awareness-is-great-but-action-is-essential"><b>Mental health: awareness is great, but action is essential
            </b></a></h3>
            <p>By Dean Burnett</p>
        </div>
        <div class="article">
            <h3><a href="https://timesofindia.indiatimes.com/readersblog/how-family-time-matters-in-mental-health/mental-health-awareness-44870/"><b>How family time matters in mental health</b></a></h3>
            <p>By Kinjal Kulkarni</p>
        </div>
        <div class="article">
            <h3><a href="https://www.verywellmind.com/how-to-cope-when-you-feel-like-you-re-losing-your-mind-5214864"><b>I Feel Like I'm Losing My Mind”: What This Means and How to Cope</b></a></h3>
            <p>By Wendy Wisner</p>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="videos-card">
      <mat-card-header>
        <mat-card-title>Videos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="video">
            <h3><a href="https://www.youtube.com/watch?v=1qq7lDL-bzY"><b>“Why students should have mental health days"</b></a></h3>
            <p>Hailey Hardcastle</p>
        </div>
        <div class="video">
            <h3><a href="https://www.youtube.com/watch?v=BvpmZktlBFs"><b>“There's no shame in taking care of your mental health"</b></a></h3>
            <p>Sangu Delle</p>
        </div>
        <div class="video">
            <h3><a href="https://www.youtube.com/watch?v=gy1iH_Gxn0Q"><b>Stop the Stigma: Why it's important to talk about Mental Health"</b></a></h3>
            <p>Heather Sarkis | TEDxGainesville</p>
        </div>
        <div class="video">
            <h3><a href="https://www.youtube.com/watch?v=-GpFNe2s6SQ"><b>“Invest In Your Mental Health Every Day"</b></a></h3>
            <p>Lindsay Fleming | TEDxWilmette</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="you-matter-container">
    <h1>You Matter Movement</h1>
    <div class="image-container">
      <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/437140258_401267026051510_3509088738430756275_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGWvIsklvtNiwlMobEL-9mi38eXLtM0Nj3fx5cu0zQ2PRGmcMXZ3KY_Xwau1r92O4TEh4Ou3p_bU0sSSBqfywsS&_nc_ohc=fSyng7csjxkAb6Xut0D&_nc_ht=scontent.fmnl33-6.fna&oh=00_AfACL2Q2hDDI1KVBWbNzoG3gLXckapuwVntMu6xvUDoF9A&oe=66287F08" alt="You Matter Movement Image">
    </div>
  </div>

  <div class="partners-container">
    <h1>Our Partners</h1>
    <div class="partner-photos">
      <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/347843654_1408681126620557_2749784483409560483_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ZwS5eym98c8Ab72ENIr&_nc_ht=scontent.fmnl33-6.fna&oh=00_AfAppGeclB8Kn0KmmJ-mog-SEdTglddVFO9YR2zl8HDd8w&oe=662872DC" alt="Partner 1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmfYSENhLeRBRvB_XkFQdInkYE_yZvTQgsZjMBPsNAFA&s" alt="Partner 2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdqWtUeVb3Z_9o3Sykn1pmZ1p6ctHgI7smFrtqAWD0yg&s" alt="Partner 3">
    </div>
  </div>

  
  