<div class="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-image">
      <img src="https://scontent.fmnl33-3.fna.fbcdn.net/v/t39.30808-6/437768594_401321016046111_1328624956413594288_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHqwqXoVrP98Ycow0xpf44ErCHRq-zfhEOsIdGr7N-EQxbsWdtdsK5nRulg7iETDs_Ao_IWSpQnlNUcdwqBy5f_&_nc_ohc=4Rg2SpY_jxwAb5mgeGO&_nc_ht=scontent.fmnl33-3.fna&oh=00_AfCOwDFYdXBZvMf3LL8pAmoy1ImJI2mQCdX6c6vdHnYVDw&oe=662889B0" alt="Contact Image">
    </div>
  </div>

  <div class="social-media-container">
    <h1>Our Social Media</h1>
    <div class="social-icons">
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Facebook"></a>
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram"></a>
      <a href="#"><img src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.553209589.1713484800&semt=ais" alt="Twitter"></a>
      <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREZaEqqpYS1VCcrcde6WX8UYlkyZfJQDHg28nxxt-yFw&s" alt="Pinterest"></a>
    </div>
  </div>
  
  <div class="headquarters-container">
    <h1>Our Headquarters</h1>
    <img src="https://scontent.fmnl33-6.fna.fbcdn.net/v/t39.30808-6/437961937_401316052713274_6668984127541715338_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEJywyxTpqM7b2kfssMpEWYGqbyEFf0xpIapvIQV_TGkm3A-OQJEatArgesxG_asfSqPg2f3AoDKyTh2p6LTzrO&_nc_ohc=3qtQgndHd4QAb6SUA9n&_nc_ht=scontent.fmnl33-6.fna&oh=00_AfAJUw5JiDkPzRNBhSvzKEQhcE8x7RNYpsUYxrEBJl7sHA&oe=6628916B" alt="Headquarters Image">
  </div>
  
  